.navigationbar ul{
    background-color: rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    list-style: none;
    overflow: hidden;
}
.navigationbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navigationbar li{
    float: left;
}
.navigationbar a:hover{
   background-color: black; 
}
body{
    background-image: url(images/—Slidesdocs—elegant\ ambience\ a\ beautifully\ rendered_357ae15ebf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    height: 100%;
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu-item1 {
    border: solid 0px white;
    background-color: white;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 7px 7px 10px black;
}
#burger-text {
    color: hsl(51, 100%, 49%);
    text-shadow: 3px 3px 7px gold;  
    align-items: center;
    display: flex;
    justify-content: center;
}
#burger-button {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}
#burger-button:hover {
    transform: translate(10px -10px);
    color: black;
    background-color: white;
}
