body{
    background-color: rgb(0, 0, 0);
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 1px green;
}